<div class="chat-container">
  <div class="user-list">
    <h2>Users</h2>
    <ul>
      <li [ngClass]="{'highlight': user.id==loginService.decodeToken().userId}" *ngFor="let user of users"
        (click)="selectUser(user)" [class.selected]="user.id === selectedUser?.id">
        {{ user.name|uppercase }}
      </li>
    </ul>
  </div>

  <div class="chat-window" *ngIf="selectedUser">
    <h3>Chat with {{ selectedUser.name |uppercase }}</h3>
    <div class="messages">
      <div *ngFor="let conversation of conversations" messagesContainer
        [class.sent]="conversation.sender_id === this.loginService.decodeToken().userId "
        [class.received]="conversation.receiver_id === conversation.receiver_id">
        <p><strong>{{ conversation.sender_id === this.loginService.decodeToken().userId ? 'You' : selectedUser.name
            |uppercase
            }}:</strong> {{
          conversation.message
          }}</p>
      </div>
    </div>

    <div class="message-input">
      <input [(ngModel)]="message" placeholder="Type a message..." (keyup.enter)="sendMessage()" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>